body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(90deg, #017BB5, #39C5E8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
}

h3 {
    margin-top: 24px;
    color: #ffffff;
}

.form-container {
    margin-bottom: 20px;
}

input, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.list-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

td button {
    background-color: #e74c3c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

td button:hover {
    background-color: #c0392b;
}

.container img {
    width: 200px;
    margin: 32px;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
    z-index: 1000;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.danger {
    background-color: #e74c3c;
}

p {
    font-size: small;
    color: white;
}
